[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
telethon = "*"

[packages]
urllib3 = ">=1.26,<2"
six = ">=1.12"
setuptools = ">=65,<82"
python-telegram-bot = "==13.15"
python-dotenv = "==1.0.1"
pymongo = ">=4.6,<5"
standard-imghdr = {version = ">=3.13.0", markers = "python_version >= '3.13'"}

[requires]
python_version = "3.11"
